* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga', 'kern';
    text-rendering: optimizeLegibility;
}

html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
}

.root {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
